@import '~@angular/material/theming';
.mat-tree-node {
    flex:none;
}


.example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    padding-inline-start: 0px;
  }

  mat-nested-tree-node li{
    display: flex;
    flex-direction: row;
  }

  .mat-tree-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0px 10px;
    margin: 5px;
    width: 200px;
    box-shadow: 1px 2px 0px 0px rgba(9, 9, 9, 0.2);
    cursor: pointer;
    position: relative;

    .options{
      display: none;
    }
  }
  .mat-tree-item:hover{
    .options{
      display: block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
  }
  .mat-tree-item--selected{
    background-color: #3f51b5;
    color: #FFF;
  }


/*https://stackblitz.com/edit/material-tree-nested*/
