<!-- app licaion layout here-->
<ng-container fullscreen>

<mat-toolbar>MIND MAP for FRONT END DEVELOPER

<app-header></app-header>
</mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened position="end">
      <app-node-detail></app-node-detail>
    </mat-sidenav>

    <mat-sidenav-content>
      <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>

      <app-mind-map></app-mind-map>
    </mat-sidenav-content>
  </mat-sidenav-container>

</ng-container>